@model proyectoProgramaciónAvanzada.Models.USUARIOS

@{
    ViewBag.Title = "Actualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>

    <div class="container">

        <h2>Actualizar estudiante</h2>


        <div style="margin: 10px;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID_USUARIO)

                    <div class="form-group">
                        @Html.LabelFor(model => model.CEDULA, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CEDULA, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CEDULA, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NOMBRE, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.APELLIDO1, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.APELLIDO1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.APELLIDO1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.APELLIDO2, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.APELLIDO2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.APELLIDO2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TELEFONO, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            @Html.EditorFor(model => model.TELEFONO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TELEFONO, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Instituciones", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div>
                            @Html.DropDownListFor(model => model.ID_INSTITUCION, new SelectList(ViewBag.institucion, "ID_INSTITUCION", "NOMBRE"), htmlAttributes: new { @class = "form-control", @style = "display: block;" })
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:25px">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Cancelar", "RegistrarEstudiante", "Profesor", null, new { @class = "waves-effect waves-light btn-small" })
                            <input type="submit" value="Guardar" class="btn btn-small" />
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</section>