@model IEnumerable<proyectoProgramaciónAvanzada.Models.DETALLE_DIRECCION__INSTITUCION>

@{
    ViewBag.Title = "Instituciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <h2 style="text-align:center">Instituciones</h2>

        <div id="cuadro" style="margin: 10px;">

            <table class="table">
                <tr style="background-color:#e0e0e0">
                    <th>
                        @Html.DisplayNameFor(model => model.INSTITUCION.NOMBRE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DISTRITO.DES_DISTRITO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DISTRITO.CANTON.DES_CANTON)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DISTRITO.CANTON.PROVINCIA.DES_PROVINCIA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DISTRITO.CANTON.PROVINCIA.PAIS.DES_PAIS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DETALLE_DIRECCION)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.INSTITUCION.NOMBRE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DISTRITO.DES_DISTRITO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DISTRITO.CANTON.DES_CANTON)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DISTRITO.CANTON.PROVINCIA.DES_PROVINCIA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DISTRITO.CANTON.PROVINCIA.PAIS.DES_PAIS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DETALLE_DIRECCION)
                        </td>
                    </tr>
                }

            </table>
            <div class="form-group" style="margin-top:25px">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Volver", "RegistrarEstudiante", "Profesor", null, new { @class = "waves-effect waves-light btn-small", style = "display:block; margin:auto; width: 90px; margin-top: 25px " })
                </div>
            </div>
        </div>
        </div>
</section>