@using Microsoft.AspNet.Identity

<div>
    <nav class="nav-fixed">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <li>
                        @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                }
            </ul>
            <ul id="nav-mobile" class="center hide-on-med-and-down">
                <li class="tab">@Html.ActionLink("Estudiantes", "RegistrarEstudiante", "Profesor")</li>
                <li class="tab">@Html.ActionLink("Tutorías", "Tutorias", "Profesor")</li>
                <li class="tab">@Html.ActionLink("Asignar Tutoría", "AsignarTutoria", "Profesor")</li>
                <li class="tab">@Html.ActionLink("Agregar archivos", "crearArchivo", "Profesor")</li>
                <li class="tab">@Html.ActionLink("Instituciones", "Instituciones", "Profesor")</li>
                <li class="tab">@Html.ActionLink("Profesores", "Profesores", "Profesor")</li>
                <li class="tab">@Html.ActionLink("Registrar Usuario", "Register", "Account")</li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Cursos", "Index", "Estudiante")</li>
                <li>@Html.ActionLink("Archivos de Estudio", "Archivos", "Estudiante")</li>
                <li>@Html.ActionLink("Calificar Profesor", "CalificaProfe", "Estudiante")</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>
</div>

